FORMAT: 1A
HOST: http://api.opened.io

# OpenEd
The **OpenEd API** allows you to search for educational resources based on keywords or Common Core standardsOpenEd is the world's largest educational resource catalog, currently with over 250,000 videos, games and other resources. It is the only site completely focused on aligning educational resources to standards.

The **OpenEd API** lets you use the capabilities of the OpenEd engine for finding resources and providing information about educational standards (Common Core and otherwise) inside your own apps and websites.

All API access is over HTTPS, and accessed from the api.opened.io domain. All data is sent and received as JSON. API calls which make changes require OAuth 2 authentication.

OpenEd allows videos to be searchable with the following REST API, from any app, web or otherwise.

# Manage Resources [/resources]

## Search Resources [GET]

Find resources based on:

* descriptive - searches title, description, area_title and subject_title with Solr fulltext search
* standard_group_id - looks for resources aligned with specified standards are in the standard_group by standard_group.id
* category - looks for resources aligned with specified standards are in the category by category.id or category.title
* standard - looks for resources aligned with specified standard by standard.id (the internal object ID) or standard.identifier (the Common Core ID)
* area - looks for resources assigned with specified area (and/or with specified subjects of area) by area.id or area.title
* subject - looks for resources assigned with specified subject by subject.id or subject.title
* grade - restricts to specified grades (expressed as K,1, .. 12)
* ids - comma separated list of resource IDs (will ignore all other supplied filters)
* limit - resources to return, default to 50
* contribution_name - the name of the contribution (e.g. "BrightStorm", "KhanAcademy")

+ Request 

        https://api.opened.io/resources.json?descriptive=Fibonacci%20sequence&limit=3

+ Response 200 (application/json)

        {
        "resources": [
        {
        "standard_idents": [
        "F.IF.3"
        ],
        "grades_range": "6-12",
        "contribution_name": "PBS",
        "description": "Apply the Fibonacci Sequence and find its relationship to a piano keyboard. Explore various relationships between music and the Fibonacci Sequence.",
        "embeddable": false,
        "resource_type": "other",
        "id": 101504,
        "thumb": "https://opened.s3.amazonaws.com/pictures/101504/thumb/pbs-logo.png?1358125703",            
        "title": "The Fibonacci Keyboard",
        "share_url": "http://www.opened.io/#/share/101504",
        "rating": 3,
        "my_rating": null,
        "safe_url": "http://www.pbs.org/jazz/classroom/fibonacci.htm"
        }
        ]
        }

## Add Resources [POST]

Add resources to the OpenEd catalog.  Based supplying following attributes:

* url - where is the resource hosted - REQUIRED
* title - what do you want to call the resource. It doesn't have to match what you have on your site - REQUIRED
* description - more information about the resource. You are strongly urged to supply a description as it helps the OpenEd recommendation engine highlight your resirces
* standard_idents - the list of standards aligned to the resource. You do not have to supply this. OpenEd will attempt to determine alignments once your resource is contributed
* subjects - the list of subjects (from the OpenEd area/subject taxonomy describe below) associated with the resource
* grades_range - in the form "lowgrade-highgrade", e.g. "K-4"
* contribution_name - your site as the contributor so we can give you credit. Defaults to OAuth username.
* resource_type - Either "video", "game", "assessment", or "other". Default to "other" if it is not identified as a video
* rating - The rating of the resource on a scale of "1" to "5" if you have one on your site
* image - An image that acts as a preview of the video. When possible with other resource types thumbnails are encouraged. This is a URL link.

+ Request (application/json)

        {
        "url": "http://yoursite.com/yourawesomevideo.mp4",
        "title": "My Awesome Counting Video",
        "description": "Vun octopus arm, two octopus arms..three vunderful octopus arms",
        "standard_idents": [
        "K.CC.1",
        "K.CC.4"
        ],
        "grades_range": "K-1",
        "contribution_name": "YourSite",
        "resource_type": "video",
        "rating": "5",
        "image": "http://yoursite.com/pics/awesomevideothumb.jpg"
        }
       

+ Response 200 
    
## Specific Resource [/resource/{id}]

+ Parameters
    + id (number, `1`) ... An unique identifier of the resource

### Show Resource [GET]
Show the specified resource. Provide the resource identifier as the resource ID number followed by ".json". 

+ Request JSON Resource
    
    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Headers

            X-My-Message-Header: 42

    + Body
    
            {"resource":
            {"standard_idents":[],"grade_idents":[],"grades_range":"",
            "contribution_name":"History",
            "description":"Timothy Dickinson tells the story of President Garfield's untimely death.",
            "featured":false,
            "embeddable":true,
            "resource_type":"video","id":101054,
            "thumb":"https://opened.s3.amazonaws.com/pictures/101054/thumb/101054.jpg?1379136967",
            "title":"Death of President Garfield",
            "share_url":"http://www.opened.io/#/share/101054","rating":3,"my_rating":null,
            "safe_url":"http://servicesaetn-a.akamaihd.net/pservice/embed-player/?siteId=hist&tPid=21116055"}
            }           
            }   
            
# Group Standards

OpenEd also allows you to search for information on standards themselves (in addition to finding resources for standards). 
Standards are organized into "standard groups" such as "Common Core Math" and "Common Core Language Arts". 
Within a standard group there are "grade groups" such as "Elementary" and "Middle School". 
Each grade group has a set of "categories" (sometimes known as "strands"), such as "Geometry". 
Within categories there are individual standards. This method of organizing standards was created by the Common Core State Standards, 
but we use it to structure all standard groups.

## Standard Groups [/standard_groups]
To navigate the standards hierarchies you first need to get the list of standard groups.

### GET

Retrieve full list of standard groups 

+ Response 200 (application/json)

        {
        "standard_groups": [
        {
        "id": 2,
        "name": "Common Core Language Arts",
        "title": "Common Core Language Arts",
        "count": 3844
        },
        {
        "id": 4,
        "name": "Common Core Math",
        "title": "Common Core Math",
        "count": 9072
        }
        }
        
## Grade Groups [/grade_groups]

### GET
  
Get the list of grade groups, typically for a particular standard group.

Takes the following optional parameter.  

* standard_group (title, `Common Core Math`) ... The title of the standard group you want grade groups for

+ Request 

        http://api.opened.io/grade_groups.json?standard_group=Common%20Core%20Math
        
+ Response 200 (application/json)

        {
        "grade_groups": [
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:05Z",
        "display": "Elementary",
        "gg_sort_key": 1,
        "id": 46,
        "ident": "K,1,2,3,4,5,6",
        "name": "Elementary",
        "standard_group_id": null,
        "updated_at": "2013-10-11T17:57:04Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:06Z",
        "display": "Middle School",
        "gg_sort_key": 2,
        "id": 47,
        "ident": "6,7,8,6-8",
        "name": "Middle School",
        "standard_group_id": null,
        "updated_at": "2013-10-11T17:57:04Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:22Z",
        "display": "High School: Algebra",
        "gg_sort_key": null,
        "id": 49,
        "ident": "A",
        "name": "High School: Algebra",
        "standard_group_id": null,
        "updated_at": "2012-12-09T17:15:29Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:22Z",
        "display": "High School: Functions",
        "gg_sort_key": null,
        "id": 50,
        "ident": "F",
        "name": "High School: Functions",
        "standard_group_id": null,
        "updated_at": "2012-12-09T17:16:22Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:22Z",
        "display": "High School: Geometry",
        "gg_sort_key": null,
        "id": 51,
        "ident": "G",
        "name": "High School: Geometry",
        "standard_group_id": null,
        "updated_at": "2012-12-09T17:16:12Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:23Z",
        "display": "High School: Number and Quantity",
        "gg_sort_key": null,
        "id": 52,
        "ident": "NQ",
        "name": "High School: Number and Quantity",
        "standard_group_id": null,
        "updated_at": "2013-02-13T15:57:48Z"
        }
        },
        {
        "grade_groups": {
        "created_at": "2012-10-02T11:41:23Z",
        "display": "High School: Statistics & Probability ",
        "gg_sort_key": null,
        "id": 53,
        "ident": "SP",
        "name": "High School: Statistics & Probability ",
        "standard_group_id": null,
        "updated_at": "2013-02-13T15:53:28Z"
        }
        }
        ]
        }
    
        
## Categories [/categories]

You can list the categories (also known as "strands") based on several criteria. 
It will also return a count of resources.

* standard_group - shows all categories within a standard group
* grade_group - restricts the categories to those associated with a specific grade group, such as Elementary (coming soon)
* grade - restricts the categories to those associated with specific grade groups that have that grade (coming soon)